<h1>welcome to<i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>

<p>In <i class="fas fa-book"><strong>Bookers</strong>,</p>

<p>you can share and exchange your opinions , inpressions ,<br>
   and emotions</p>

<p>about various books!</p>


<%= link_to "Log in", user_session_path %>

<%= link_to "Sign up", new_user_registration_path %>



<p>Find me in app/views/homes/top.html.erb</p>
